{{ define "banner_menu_txt" }} 購物指南 > {{ .title_txt }} {{ end }}
{{ define "content" }}
<div class="row">
    <div class="content-info col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <h4 class="mb-4">｜{{ .title_txt }}｜</h4>
        非常歡迎您光臨「原生學」（https://www.yuanature.tw）（以下簡稱本網站），為了讓您能夠安心的使用本網站的各項服務與資訊，特此向您說明本網站的隱私權保護政策，以保障您的權益，請您詳閱下列內容：
        <br><br>
        <h5 class="mb-4">隱私權保護政策</h5>
        本網站為 白羊作坊 所經營相關網站，包括但不限於：「原生學」，本公司十分重視您的隱私權保護，將依個人資料保護法及本隱私權政策蒐集、處理及利用您的個人資料， 並提供您對個人資料權利之行使與保護。
        <br><br>
        <h5 class="mb-4">本隱私權政策適用之範圍</h5>
        本隱私權政策及其所包含之告知事項，僅適用於本公司所擁有及經營的網站。本網站內可能包含許多連結、或其他合作夥伴所提供的服務，各連結網站或合作夥伴網站的隱私權聲明及與個人資料保護有關之告知事項，請參閱該連結網站或合作夥伴網站。
        <br><br>
        <h5 class="mb-4">個人資料蒐集</h5>
        <ul>
            <li>當您瀏覽本公司經營之相關網站時，不會主動要求輸入個人資料。</li>
            <li>當您完成購物流程或參加其他活動時，網站會要求您登錄個人資料，以便完成交易與相關服務。</li>
            <li>為了保障各位會員權益，第一次光臨本網站消費的顧客，需加入本網站會員。</li>
            <li>請確認您所提供的個人資料真實準確，本公司不會承擔您資料中所提供不準確或不完整資訊所造成之損害或錯誤，此將須自行負責。</li>
            <li>如果您拒絕提供個人資料，可能無法充分利用本網站某些服務。</li>
            <li>請妥善保管您的會員帳號及密碼，不要將上述資料提供給任何人或允許任何人以您的個人資料申請或使用帳號、密碼，本公司不會承擔任何不當使用密碼之責任。</li>
            <li>如果您與他人共用電腦或使用公共電腦，請記得關閉瀏覽器，以防他人看到上述資料取得您帳號的方法。</li>
        </ul>
        <h5 class="mb-4">蒐集之個人資料類別</h5>
        <ul>
            <li>
                白羊作坊於本網站內蒐集的個人資料包括：
                <ul style="list-style:decimal;">
                    <li>辨識個人者：如會員之姓名、地址、電話、電子郵件等資訊。</li>
                    <li>辨識財務者：如信用卡或金融機構帳戶等資訊。</li>
                    <li>個人描述：例年齡、性別、出生年月日等。</li>
                </ul>
            </li>
            <li>將以實際本公司取得之個人資料為限。</li>
        </ul>
        <h5 class="mb-4">蒐集之個人資料利用</h5>
        本網站所蒐集足以識別使用者身分的個人資料，均僅供本網站於其內部、依照蒐集之目的進行處理和利用，除非事先說明、或為完成提供服務或履行合約義務之必要、或依照相關法令規定或有權主管機關之命令或要求，否則本網站不會將足以識別使用者身分的個人資料提供給第三人（包括境內及境外）、或移作蒐集目的以外之使用。本公司之員工，僅於其為您提供產品或服務之需求範圍內，對於您的個人資料得為有限之接觸。本公司及本公司委外之協力廠商（例如：商品供應商、提供物流、金流或活動贈品、展示品之廠商）；如為本公司與其他廠商共同蒐集者，將於該共同蒐集之活動中載明。在會員有效期間內，以及法令所定應保存之期間內，本網站會持續保管、處理及利用。
        <br><br>
        <h5 class="mb-4">行使個人資料權利方式</h5>
        依個人資料保護法第三條規定，您就您的個人資料享有查詢或請求閱覽、請求製給複製本、請求補充或更正、請求停止蒐集、處理或利用、請求刪除之權利。您可以透過寄送電子郵件至 service@yuanature.tw（為避免電子郵件系統漏信或其他原因無法收悉，以本公司回覆收悉為準）方式行使上開權利，本公司將於收悉您的請求後儘速處理。但因本網站執行職務、業務所必須，以及依相關法令規定，必須存檔備查之交易資料，不在此限。
        <br><br>
        <h5 class="mb-4">個人資料蒐集、處理及利用說明</h5>
        本公司可能透過 Facebook 或類似社群服務系統，於取得您的同意後，將部分本網站的資訊發布於您的社群活動資訊頁面，若您不同意該等訊息之發布，請您勿點選同意鍵，或於事後透過各該社群服務之會員機制移除該等資訊或拒絕本網站繼續發布相關訊息。若有任何問題，仍可與本公司聯絡，本公司將協助您確認、處理相關問題。
        <br><br>
        若您所填寫之送貨地址、聯絡人、聯絡方式等非您本人之個人資料，您同意已取得各該當事人之同意提供予本公司，並已代本公司就前開法定告知事項予以告知。
        <br><br>
        除依法應提供予司法、檢調機關、相關主管機關，或與本公司協力廠商為執行相關活動必要範圍之利用外，本公司將不會任意將您的個人資料提供 予第三人。當本公司或本網站全部或部分分割、獨立子公司經營、被其他第三者購併或收購資產，導致經營權轉換時，本公司會於事前將相關細節公告於本網站，且本公司或本網站所擁有之全部或部分使用者資訊亦可能在經營權轉換的狀況下移轉給第三人。惟限於與該經營權轉換服務相關之個人資料。若本公司或本網站部分營運移轉予第三人，您仍為本公司會員， 若您不希望本公司後續利用您的個人資料，您可以依本隱私權政策向本公司行使權利。
        <br><br>
        <h5 class="mb-4">Cookie</h5>
        為便於日後的辨識，當您使用本網站服務時，本公司可能會在您的電腦上設定與存取 Cookie。 您可以透過設定您的個人電腦或上網設備，決定是否允許 Cookie 技術的使用，若您關閉 Cookie 時，可能會造成使用本網站服務時之不便利或部分功能限制。
        <br><br>
        <h5 class="mb-4">隱私權政策之修改</h5>
        本公司有權隨時修改本隱私政策及本網站各項內容之權利，將於網站同一位置公告更改聲明外，不會再對會員進行個別通知。若您對本隱私權保護政策有任何問題或不同意該等變更或修改 ，可利用電子郵件（service@yuanature.tw）直接與本公司聯繫或停止使用本網站服務。
    </div>
    <div class="clearfix"> </div>
</div>
{{ end }}
