{{ define "banner_menu_txt" }} 購物指南 > {{ .title_txt }} {{ end }}
{{ define "content" }}
<div class="row">
    <div class="content-info col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <h4 class="mb-4">｜{{ .title_txt }}｜</h4>
        猶豫期非試用期：根據消費者保護法第19條之規定，您享有商品到貨後起算7天鑑賞期（含國定例假日）的權益，鑑賞期係供您參考、觀賞、品鑑和比較，您可在7天之內要求退貨退款。<br>
        鑑賞期非試用期，超過鑑賞期者將不受理退貨服務。
        <br><br>
        <h5 class="mb-4">屬瑕疵貨品項數量不符之情形</h5>
        <ul>
            <li>出貨時已全程錄影監控，如收受物品內容物有瑕疵，請於收貨後7日內（含國定例假日）聯繫我們，告知您的訂單編號並提供相關照片或影片，我們將盡速為您處理，相關手續費、運費均由本公司負擔。</li>
        </ul>
        <h5 class="mb-4">屬個人因素欲辦理退貨</h5>
        <ul>
            <li>請於收貨後7日內（含國定例假日）聯繫我們。</li>
            <li>猶豫期非試用期，退貨商品須保持全新狀態且包裝完整（包括產品、贈品、包裝、出貨紙箱、附件、出貨明細），否則恕不接受退貨。</li>
            <li>進行退款時，我們將扣除運費(依本網站所規定之金額)、金流手續費(15元)及所產生的相關費用，購買與退貨前請審慎評估。</li>
            <li class="primary">
                無法受理之退貨申請：
                <ul style="list-style: square;">
                    <li>超過7天猶豫期退換貨時效(逾期退貨)。</li>
                    <li>商品已經開封或曾被使用 (包含外封膜撕毀或不完整)。</li>
                    <li>商品並未保持完好包裝、已受破壞、損毀或不完整。</li>
                    <li>除有商品內容物瑕疵外，一經拆封，恕不接受退(換)貨。</li>
                </ul>
            </li>
            <li>優惠商品訂單如因部分退貨未達優惠標準，其他商品將以商品定價價格計算，退款時將扣除相關商品價差。</li>
            <li>退貨之訂單如有使用折價券或購物金，退貨後將不返還；退款僅退還您實際支付的金額。</li>
            <li>退貨商品須保持商品及贈品全新狀態寄回辦理，若商品不完整，原生學有拒絕退換貨權利。</li>
            <li>如退貨驗收無誤，而需為您辦理退款事宜時，您同意本公司得代您處理發票或折讓等相關法令所要求之單據，以利流程進行。</li>
        </ul>
        <h5 class="mb-4">退換貨流程</h5>
        <ul>
            <li>
                如需辦理退貨，請於到貨7日內透過下列方式聯繫我們：
                <ul style="list-style:decimal;">
                    <li>客服信箱 service@yuanature.tw</li>
                    <li>LINE官方帳號</li>
                </ul>
            </li>
            <li>信用卡付款：退款將採用退刷方式直接將款項退回您的信用卡帳上 (須扣除手續費15元)，依據不同銀行的處理流程，完成時間約5~10個工作天，刷退款項可能列於本月或次月的帳單上，您可連絡您的信用卡公司詢問細節。</li>
            <li>ATM 虛擬代碼：提供購物金、及現金兩種退款方式。選擇購物金退款，購物金將以無使用效期之方式匯入您的帳戶；現金退款請提供客服人員欲接收退款之帳號。</li>
            <li>LINE Pay付款：您會收到交易取消通知。</li>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>
{{ end }}
